<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Antonio Lázaro.
</p>

<img width="72px" src="/images/profile.png" />

<a href="https://github.com/antonioLazaroB/quiz_2017" style="display: block;">Repositorio</a>

